html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    border: 2px solid #aaa;
    border-radius: 15px;
}